BasedOnStyle: LLVM
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterClass: false
  AfterStruct: false
  AfterNamespace: false
  AfterEnum: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeCatch: false
AllowShortIfStatementsOnASingleLine: true
IndentPPDirectives: BeforeHash
ColumnLimit: 125
BinPackArguments: false
AlignAfterOpenBracket: DontAlign
BinPackParameters: false
AllowAllConstructorInitializersOnNextLine: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
Cpp11BracedListStyle: true
BreakBeforeBraces: Attach